
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Content/encuesta_link.css")" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Borrar</title>
</head>
<body>
    <div class="success-wrapper">

        <div class="success-card">

            <p class="success-title">
                ✔ Se eliminó la encuesta
            </p>

        </div>

    </div>
</body>
</html>
